
@{
    ViewBag.Title = "CategoriesList";
    Layout = "~/Views/Shared/_LayoutStockManagement.cshtml";
}

<script src="~/Content/js/Stock/Category/CategoriesListCtrl.js"></script>
<div ng-app="myApp" ng-controller="CategoriesListCtrl" style="display:inline-block;width:100%;">
    <input type="hidden" id="username" name="username" value="@Session["username"]" />
    <input type="hidden" id="fullname" name="fullname" value="@Session["fullname"]" />
    <input type="hidden" id="role" name="role" value="@Session["role"]" />

    <div id="notification" class="col-md-12"></div>
    <br />

    <h4 class="text-center panel-title">Danh sách danh mục thiết bị</h4>
    <form class="mt-5">

        <div class="card">
            <div class="mt-4 ms-3">
                <a class="btn btn-primary" href="@Url.Action("CreateNewCategory", "Categories")">Thêm danh mục mới</a>
                <button type="button" class="btn btn-primary ms-2">
                    Xuất
                    Excel
                </button>
            </div>
            <div class="card-body">
                <table class="table table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                            <th>Miêu tả</th>
                            <th>Level danh mục</th>
                            <th>Danh mục cha</th>
                            <th>SL thiết bị</th>
                            <th>Tác vụ</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <input placeholder="Search...">
                            </td>
                            <td>
                                <input placeholder="Search...">
                            </td>
                            <td></td>
                            <td></td>
                        <tr ng-repeat="item in ListCategories">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.category_code}}</td>
                            <td>{{item.category_name}}</td>
                            <td>{{item.desciption}}</td>
                            <td>{{item.category_level}}</td>
                            <td>{{item.category_parent}}</td>
                            <td>{{item.number_equip}}</td>
                            <td>
                                <a class="btn btn-success mx-1" href="@Url.Action("CategoryDetail", "Categories")"><i class="fas fa-info-circle"></i></a>
                                <button class="btn btn-primary mx-3"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger "><i class="fas fa-trash-alt"></i></button>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>

    </form>

</div>